[Unit]
Description=PostgreSQL database server
Documentation=man:postgres(1)
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=notify
TimeoutSec=120

StateDirectory=postgres
StateDirectoryMode=0700

RuntimeDirectory=postgresql
RuntimeDirectoryMode=0755

PIDFile=%h/.local/state/postgres/data/postmaster.pid

Environment=PGROOT=%h/.local/state/postgres

ExecStartPre=/usr/bin/postgresql-check-db-dir ${PGROOT}/data
ExecStart=/usr/bin/postgres -D ${PGROOT}/data
ExecReload=/bin/kill -HUP ${MAINPID}

KillMode=mixed
KillSignal=SIGINT

AmbientCapabilities=CAP_NET_RAW CAP_NET_ADMIN CAP_DAC_OVERRIDE

OOMScoreAdjust=-200

PrivateDevices=true
PrivateTmp=true

ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=full

RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true

[Install]
WantedBy=default.target
