[Unit]
Description=Tailscale node agent
Documentation=https://tailscale.com/kb/
After=network-pre.target NetworkManager.service systemd-resolved.service
Wants=network-pre.target

[Service]
Type=notify

CacheDirectory=tailscale
CacheDirectoryMode=0750

RuntimeDirectory=tailscale
RuntimeDirectoryMode=0755

StateDirectory=tailscale
StateDirectoryMode=0700

ExecStart=/usr/bin/tailscaled --state=%h/.local/lib/tailscale/tailscaled.state --socket=/run/user/%U/tailscale/tailscaled.sock --port=41641
ExecStopPost=/usr/bin/tailscaled --cleanup
Restart=on-failure
RestartSec=32s

AmbientCapabilities=CAP_NET_RAW CAP_NET_ADMIN

DeviceAllow=/dev/tun
DeviceAllow=/dev/net/tun

LockPersonality=true

NoNewPrivileges=true

MemoryDenyWriteExecute=true

RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true

SystemCallFilter=@known
SystemCallFilter=~@clock @cpu-emulation @raw-io @reboot @mount @obsolete @swap @debug @keyring @mount @pkey

[Install]
WantedBy=default.target
